{% extends "ProyectoWebApp/base.html" %}

{% load static %}



{% block content %}


  {% if user.is_authenticated %}

  <div class="container my-5">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6">
        <div class="card">
          <img src="{{ user.picture.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ user.username }}</h5>
            <small><i class="bi bi-geo-alt-fill"></i>&nbsp;{{user.location}}</small>
            <br/>
            <br/>
            <a href={% url 'cerrar_sesion' %} class="btn btn-sm btn-success">Cerrar Sesión</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  {% endif %}

<br/>
<div class="barra"></div>
  {% endblock %}